{% extends 'base.html' %}

{% block content %}
{% comment %} <h1>Set the period of time:</h1> {% endcomment %}
  {% comment %} <form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
  </form> {% endcomment %}

  <h1> Raw data from the database: </h1>

  {% if data %}
    <ul>
    {% for item in data %}
        <li> {{ item.citytitle }} - {{ item.date }} - MaxTemp {{ item.maxtemp }} - MinTemp {{ item.mintemp }} - Humidity {{ item.humidity }} </li>
    {% endfor %}
    </ul>
	{% else %}
		<p>No data.</p>
	{% endif %}
{% endblock %}
